@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #0a192fb2;
  --bg-secondary:#111f4d:
  --text-primary: #6b7280;
  --text-secondary:#4795f4;
  --text-header:white;

}

/* 
#after:after {
  content: "";;
  display: block; 
  width: 65%;
  height: 1px;
  position: absolute;
  background-color:var(--text-secondary);
  left: 35%;
  top: 25%;
  z-index: 10;
 
 
}
 */

 .custom-button {
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1); /* Smooth transition */
}

.custom-button:hover,
.custom-button:focus-visible {
  outline: none;
  box-shadow: 10px 10px 0 0 var(--text-secondary); /* Same color as the border */
  transform: translate(-5px, -5px); /* Moves the button up and to the left */
}

.custom-button:after {
  display: none !important;
}




