@tailwind base;
@tailwind components;
@tailwind utilities;

.content-div {
  background: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.942),
    rgba(57, 78, 183, 0.46)
  ) !important;
}
